@page
@model Proiect_.NET_Hair_salon.Pages.Servicii.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Serviciu</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Serviciu.Nume" class="control-label"></label>
                <input asp-for="Serviciu.Nume" class="form-control" />
                <span asp-validation-for="Serviciu.Nume" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serviciu.Pret" class="control-label"></label>
                <input asp-for="Serviciu.Pret" class="form-control" />
                <span asp-validation-for="Serviciu.Pret" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Serviciu.Durata" class="control-label"></label>
                <input asp-for="Serviciu.Durata" class="form-control" />
                <span asp-validation-for="Serviciu.Durata" class="text-danger"></span>
            </div>
            <div class="form-group"> 
                <label asp-for="Serviciu.HairstylistID" class="control-label">Nume Hairstylist</label> 
                <select asp-for="Serviciu.HairstylistID" class="form-control" asp-items="ViewBag.HairstylistID"> </select> 
                <span asp-validation-for="Serviciu.HairstylistID" class="text-danger"></span> 
            </div>

            <div class="form=group">
                <div class="table">
                    <table>
                        <tr>
                            @{
                                int cnt=0;

                                foreach(var cat in Model.AssignedCategoryDataList)
                                {
                                    if(cnt++ % 3 == 0){
                                        @:</tr><tr>
                                    }
                                    @:<td>
                                        <input type="checkbox"
                                               name="selectateCategorii"
                                               value="@cat.CategorieID"
                                               @(Html.Raw(cat.Atribuita ? 
                                                   "checked=\"checked\"" : "")) />
                                        @cat.CategorieID @: @cat.Nume
                                    @:</td>
                                }
                            @:</tr>
                            }
                    </table>
                </div>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
